bin/Lib/auto.exe
bin/KeyPatch/KeyPatch64.exe
bin/**/*.pyc
bin/**/__pycache__/

config/VScode/extensions/*

binx/*
re/*
utils/*

help/*
!help/ELF.pdf
!help/INTEL1.pdf
!help/INTEL2.pdf
!help/INTEL3.pdf
!help/INTEL4.pdf
!help/PE.jpg
!help/PE_FULL.pdf
!help/PE_OFF.pdf
!help/Win32.chm

setup/*
!setup/010_Editor_KeyGen/
!setup/RamDisk/
!setup/wsl_update_x64.msi
!setup/UltraISO.exe
!setup/7z1900-x64.exe
!setup/npcap-1.50.exe
!setup/CascadiaMono.ttf
!setup/windbg.reg
!setup/si4.pediy.lic

wiki/*